<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - EasyInvite</title>
    <link href="/static/Css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/Js/bootstrap.bundle.js"></script>
    <style>
        body { background-color: #0F172A; color: #ffffff; }
        .auth-card { background-color: #1E293B; border: 1px solid rgba(255, 255, 255, 0.05); border-radius: 12px; }
        input::placeholder
        {
            color: #a0a0a0 !important;
        }
        p{
            color: #9CA3AF 
        }
    </style>
</head>
<body class="d-flex align-items-center min-vh-100">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-5">
                
                <div class="text-center mb-4">
                    <h2 class="fw-bold text-warning">EasyTicket</h2>
                    <p class=" small">Accédez à vos billets instantanément</p>
                </div>
              
                {% if invalid_phone_number %} <!-- message a affichier lors qu'un ticket est supprimer-->
                <div class="toast show position-fixed top-0 end-0 m-3" style="z-index: 1055;">
                    <div class="toast-body bg-danger text-white d-flex justify-content-between align-items-center">
                    <span>{{ invalid_phone_number }}</span>
                    <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast"></button>
                    </div>
                </div>
                {% endif %}
               
                <div class="p-4 auth-card shadow">
                    <h5 class="mb-3 fw-bold">Connexion</h5>
                     {% if success_message %} <!-- message a affichier lors qu'un ticket est supprimer-->
                    <div class="toast show position-fixed top-0 end-0 m-3" style="z-index: 1055;">
                        <div class="toast-body bg-success text-white d-flex justify-content-between align-items-center">
                        <span>{{ success_message }}</span>
                        <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast"></button>
                        </div>
                    </div>
                    {% endif %}
                    <form action="/organizer/login" method="POST">
                         {%if success_update_message %}<!-- si le mot de passe a ete modifier avec success-->
                        <div class="alert alert-success" role="alert">
                            {{ success_update_message }}
                        </div>
                        {% endif %}
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                          {% if invalid_user %} <!-- message a affichier lors d'une erreur de validation du nom -->
                            <div class="alert alert-danger" role="alert">
                                {{ invalid_user }}
                            </div>
                            {% endif %}
                        <div class="mb-3">
                            <label for="phone" class="form-label text-white-50">Numéro de téléphone</label>
                            <input type="tel" name="username" id="phone" class="form-control bg-dark text-light border-secondary" placeholder="Ex: 0991635198" required>
                            
                            <div class="form-text" style="font-size: 0.75rem;"><p>Saisissez le numéro utilisé lors de l'achat.</p></div>
                        
                        </div>
                        <div class="mb-3">
                           <label for="password" class="form-label text-white-50">Mot de passe</label>
                            <input type="password" name="password" id="password" class="form-control bg-dark text-light border-secondary" placeholder="Écrivez votre mot de passe"  required>
                            <a href="/organizer/sign-up" class="btn btn-link text-decoration-none"> Créer un compte ?</a> |
                            <a href="/auth/reset-password/user_number" class="btn btn-link text-decoration-none"> Mot de passe oublié ?</a>
                        </div>
                            
                        <div class="mb-3">
                        <button type="submit" class="btn btn-warning w-100 fw-bold text-dark">Valider</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <script>
    setTimeout(() => {
        // 1. Gestion de l'alerte
        const alertElement = document.querySelector(".alert");
        if (alertElement) {
            alertElement.classList.remove("show");
            alertElement.classList.add("fade");
            setTimeout(() => alertElement.remove(), 500);
        } 
        // 2. Gestion du toast (Utilisation de 'else if')
        else {
            const toastElement = document.querySelector(".toast");
            if (toastElement) {
                toastElement.classList.remove("show");
                toastElement.classList.add("fade");
                setTimeout(() => toastElement.remove(), 700);
            }
        }
    }, 3000); 
</script>
</body>
</html>