<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin Dashboard</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
body{
background:#f5f7fb;
}

.sidebar{
height:100vh;
background:#1e293b;
color:white;
}
.sidebar::before {
        content: "";
        position: fixed;
        inset: 0;
        background:
            linear-gradient(135deg, rgba(255,255,255,0.03) 25%, transparent 25%) -60px 0,
            linear-gradient(225deg, rgba(255,255,255,0.03) 25%, transparent 25%) -60px 0,
            linear-gradient(315deg, rgba(255,255,255,0.03) 25%, transparent 25%),
            linear-gradient(45deg, rgba(255,255,255,0.03) 25%, transparent 25%);
        background-size: 120px 120px;
        z-index: 0;
        }

.sidebar a{
color:white;
text-decoration:none;
position: relative;
display:block;
padding:12px;
border-radius:6px;
}

.sidebar a:hover{
background:#334155;
}

.stat-card{
border:none;
border-radius:12px;
}

</style>
</head>

<body>
<div class="container-fluid">
        <div class="row">
        <!-- SIDEBAR -->
            <div class="col-md-2 sidebar p-3">
                <h4 class="mb-4">
                <i class="bi bi-lightning-charge"></i>
                EasyInvite
                </h4>
                <a href="{{url_for('adm_dashboard')}}">
                <i class="bi bi-speedometer2"></i> Dashboard
                </a>

                <a href="{{url_for('adm_list_event')}}">
                <i class="bi bi-calendar-event"></i> Événements
                </a>

                <a href="{{url_for('users_list')}}">
                <i class="bi bi-qr-code-scan"></i> Liste users
                </a>
                <a href="{{url_for('params')}}">
                <i class="bi bi-gear"></i> Paramètres
                </a>
            </div>

    <!-- CONTENT -->
    <div class="col-md-10 p-4">
    {%block content %}
        <h3 class="mb-4">
        <i class="bi bi-speedometer2"></i>
        Dashboard Admin
        </h3>
    <!-- STATS -->
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card stat-card shadow-sm">
                <div class="card-body">
                    <h6>Total événements</h6>
                    <h3>
                        <span class="badge bg-primary">{{total_event}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        <div class="card stat-card shadow-sm">
            <div class="card-body">
                <h6>Invités</h6>
                <h3>
                <span class="badge bg-success">{{total_guest}}</span>
                </h3>
            </div>
        </div>

    </div>


    <div class="col-md-3">

        <div class="card stat-card shadow-sm">
            <div class="card-body">
                <h6>Scans QR</h6>
                <h3>
                <span class="badge bg-info">{{total_pending_event}}</span>
                </h3>
            </div>
        </div>

    </div>


    <div class="col-md-3">

        <div class="card stat-card shadow-sm">
            <div class="card-body">
                <h6>Événements actifs</h6>
                <h3>
                <span class="badge bg-warning text-dark">{{total_actif_event}}</span>
                </h3>
            </div>
        </div>
    </div>

    </div>

    <!-- FILTRE -->

    <div class="card shadow-sm mb-4">

    <div class="card-body">

    <form method="get" action="/admin_dashboard" class="row">

        <div class="col-md-4">
            <label class="form-label">
            Filtrer par groupe
            </label>
            <select class="form-select" name="group_id">
            <option value="">Tous</option>
            {%for group in groups%}
            <option value="{{group.id}}">{{group.name}}</option>
            {%endfor%}
            </select>
        </div>

        <div class="col-md-3 d-flex align-items-end">

            <button class="btn btn-primary w-100">
            <i class="bi bi-funnel"></i>
            Filtrer
            </button>

        </div>

    </form>

    </div>

    </div>

    <!-- TABLE EVENTS -->

    <div class="card shadow-sm">

        <div class="card-body">

        <div class="d-flex justify-content-between mb-3">

        <h5>Liste des événements</h5>

        <span class="badge bg-dark">
        {{ events | length}} événements
        </span>

        </div>

                <div class="table-responsive">

                    <table class="table table-hover">

                        <thead class="table-light">
                            <tr>
                            <th>ID</th>
                            <th>Événement</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Invités</th>
                            <th>Status</th>
                            <th>Groupe</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for event in events%}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{event.name}}</td>
                                <td>{{event.date}}</td>
                                <td>
                                <span>
                                {{event.type}}
                                </span>
                                </td>
                                <td>{{event.guests|length}}</td>
                                <td>
                                    {% if event.state == "en attente"%}
                                <span class="badge  bg-warning text-dark " >{{event.state}}</span>
                                {% elif event.state == "en cours"%}
                                <span class="badge bg-success  text-center pt-5" style="font-size:15px;">{{event.state}}</span>
                                {% else%}
                                <span class="badge bg-danger  text-center pt-5" style="font-size:15px;">{{event.state}}</span>
                                {% endif%}
                                </span>
                                </td>
                                <td>{{event.group_id}}</td>
                                <td>
                                <form action="/admin/delete_event/{{event.id}}" method="post">
                                <a href="/see_event/{{event.id}}" class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-eye"></i>
                                </a>
                                <a href="/edit_event/{{event.id}}" class="btn btn-sm btn-outline-warning">
                                <i class="bi bi-pencil"></i>
                                </a>
                                <button type="submit" class="btn btn-outline-danger text-light" onclick="return confirm('voulez-vous supprimer cette evement ?')">🗑</button>
                                </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
</div>
      {%endblock%}
</body>
</html>