{% extends "Authentification/admin/admin_dashboard.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list event</title>
</head>
<body>
{% block content %}
{% if delation_message %}
  <div class="toast show position-fixed top-0 end-0 m-3" style="z-index: 1055;">
    <div class="toast-body bg-success text-white d-flex justify-content-between align-items-center">
      <span>{{ delation_message }}</span>
      <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast"></button>
    </div>
  </div>
   {% endif %}
{% if not_found_message %}
  <div class="toast show position-fixed top-0 end-0 m-3" style="z-index: 1055;">
    <div class="toast-body bg-danger text-white d-flex justify-content-between align-items-center">
      <span>{{ not_found_message }}</span>
      <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="toast"></button>
    </div>
  </div>
   {% endif %}
<div class="col-md-4" style="position: relative;">
    <form action="/admin_list_event" method="get" class=" d-flex">
        <input type="text" name="event_name" id="event" class="form-control" placeholder="barre de recherche">
        <button class="btn btn-primary">Recherche</button>
    </form>
</div>
<div class="card mt-2">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                    <th>ID</th>
                    <th>Événement</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Invités</th>
                    <th>Status</th>
                    <th>Groupe</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {%for event in events%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{event.name}}</td>
                    <td>{{event.date}}</td>
                    <td>
                    <span>
                    {{event.type}}
                    </span>
                    </td>
                    <td>{{event.guests|length}}</td>
                    <td>
                        {% if event.state == "en attente"%}
                    <span class="badge  bg-warning text-dark " >{{event.state}}</span>
                    {% elif event.state == "en cours"%}
                    <span class="badge bg-success  text-center pt-5" style="font-size:15px;">{{event.state}}</span>
                    {% else%}
                    <span class="badge bg-danger  text-center pt-5" style="font-size:15px;">{{event.state}}</span>
                    {% endif%}
                    </span>
                    </td>
                    <td>{{event.groups.name}}</td>
                    <td>
                    <a href="/see_event/{{event.id}}" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-eye"></i>
                    </a>
                    <a href="/edit_event/{{event.id}}" class="btn btn-sm btn-outline-warning">
                    <i class="bi bi-pencil"></i>
                    </a>
                    <a href="/ticket/{{event.id}}"  class="btn btn-outline-success text-dark">
                        Set ticket
                    </a>
                    {% if event.type == "other"%}
                    <a href="/delete_all_order/{{event.id}}"  class="btn btn-outline-danger text-dark" onclick="return confirm('Voulez-vous vraiment supprimer toutes les commandes de cet evenement')">
                        delete_all_order
                    </a>
                    {% else %}
                    <a href="/delete_all_guests/{{event.id}}"  class="btn btn-outline-danger text-dark" onclick="return confirm('Voulez-vous vraiment supprimer toutes les commandes de cet evenement')">
                        delete_all_guests
                    </a>
                    {%endif%}
                    </td>
                    </tr>
                    {%endfor%}
                    </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    setTimeout(() => {
        const alert = document.querySelector(".toast");
        if (alert) {
            alert.classList.remove("show");
            alert.classList.add("fade");
            setTimeout(() => alert.remove(), 700);
        }
    }, 3000); // disparaît après 6 secondes
</script>
{%endblock%}


</body>
</html>

