<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vérification - EasyInvite</title>
    <link href="/static/Css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        body { background-color: #0F172A;color: #ffffff; }
        .auth-card { background-color: #1E293B; border: 1px solid rgba(255, 255, 255, 0.05); border-radius: 12px; }
        .text-center a,p
        {
            color: #9CA3AF 
        }
    </style>
</head>
<body class="d-flex align-items-center min-vh-100">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-5">
                
                <div class="text-center mb-4">
                    <h2 class="fw-bold text-warning">EasyTicket</h2>
                </div>

                <div class="p-4 auth-card shadow">
                    <h5 class="mb-1 fw-bold text-center">Vérification du code</h5>
                    <p class=" text-center small mb-4">
                        Entrez le code secret envoyé par sms au <br>
                        <strong class="text-warning font-monospace">{{ reset_phone }}</strong>
                    </p>
                    
                    <form action="/auth/verify-otp" method="POST">
                        {% if error_message %} <!-- message a affichier lors qu'un ticket est supprimer-->
                        <div class="alert alert-danger">
                            <span><i class="bi bi-exclamation-diamond"></i> {{ error_message }}</span>
                        </div>
                        {% endif %}
                        <input type="hidden" name="phone" value="{{ phone }}">
                        <input type="hidden" name="csrf_token" value="{{csrf_token}}">
                        <div class="mb-4">
                            <input type="text" name="otp_input" id="otp_entered" 
                                   class="form-control bg-dark text-white text-center fw-bold fs-3 border-secondary" 
                                   placeholder="0 0 0 0" maxlength="6" required autocomplete="off" autofocus>
                        </div>
                        
                        <button type="submit" class="btn btn-warning w-100 fw-bold text-dark">Valider </button>
                    </form>

                    <div class="text-center mt-3">
                        <a href="/auth/login" class=" small">Retour / Changer de numéro</a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script>
    setTimeout(() => {
        // 1. Gestion de l'alerte
        const alertElement = document.querySelector(".alert");
        if (alertElement) {
            alertElement.classList.remove("show");
            alertElement.classList.add("fade");
            setTimeout(() => alertElement.remove(), 500);
        } 
        // 2. Gestion du toast (Utilisation de 'else if')
        else {
            const toastElement = document.querySelector(".toast");
            if (toastElement) {
                toastElement.classList.remove("show");
                toastElement.classList.add("fade");
                setTimeout(() => toastElement.remove(), 700);
            }
        }
    }, 3000); 
</script>
</body>
</html>